.congresos-section {
    //background-color: #F0F0F0;
    
    background: linear-gradient( white,#F0F0F0);
    
    text-align: center;
    padding: 20px 0px 20px;
 }
 
 .congresos-container {
 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    max-width: 768px;
    margin: auto !important;
    justify-items: stretch;
 
 }
 
 .congresos-container li {
     background-color: white;
     opacity: .8;
     //color: #707070;
     border-radius: 10px;
     font-size: 25px;
     // text-shadow: 0 1px 0 #424242;
     box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
     padding: 20px 15px;
     border-left: solid 4px #98ca3f;
 }
 
 .congreso-container img:nth-of-type(1n) {
     grid-column: 1 / span 2;
   }
 
 
 /*-------------------------------------------*/
 
 
 @media screen and (min-width: 768px)  {
 
     .congresos-section {
         background-color: #F0F0F0;
         text-align: center;
         padding: 20px 0px 20px;
      }
      
      .congresos-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 25px;
        max-width: 1024px;
        margin: auto !important;
        justify-items: stretch;
      }
      
      .congresos-container li {
          background-color: white;
          //color: #707070;
          border-radius: 10px;
          font-size: 25px;
          // text-shadow: 0 1px 0 #424242;
          box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
          padding: 20px 15px;
      }
      
   
   }   