.formacion-section {
  
  text-align: center;
  // background-image: linear-gradient(to right, rgba(156,39,176,.2), #fff);
}

.formacion-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  margin-top: 5rem;
  margin: 2rem; 

  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}

.formacion-container li:nth-of-type(1n) {
  grid-column: 1 / span 15;
}

.formacion-container img:nth-of-type(1n) {
  grid-column: 16 /span 3;
}

.formacion-container {
  display: grid;
}


.logo-img {
  width: 100%;
  height: auto;  
}

.tec-img {
  width: 100%;
  height: auto;
  align-items: center;
  justify-items: center;
}

.inr-img {
  //width: 40px;
  // height: 150.2px;
  width: 75%;
  height: auto;
  align-items: center;
  justify-content: center;
  // display: none;
}




@media screen and (min-width: 768px)  {

  .formacion-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    margin-top: 5rem;
    font-size: calc(10px + 1vw);
  
  
    font-size: calc(11px + 1vw);
    text-align: left;
    margin: 2rem; 
    color: #27496D;
   

   
  }
  
  .formacion-container li:nth-of-type(1n) {
    grid-column: 4 / 13;
  }
  
  .formacion-container img:nth-of-type(1n) {
    grid-column: 13 /span 1;
  }
  
  
  
  .logo-img {
    width: 100%;
    height: auto;  
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  
 
  
  
  .text-formacion-card {
    text-align: left;
    font-size: calc(3px + 1vw);
  
  }

}