.habilidades-section {
    font-size: calc(16px + 1vw);
    color: #27496D;
    text-align: center;
    // background-image: linear-gradient(to right, rgba(156,39,176,.2), #fff);
}

.habilidades-container {
    
}


   