/*Global Header styling*/
.Header-main {
  font-family: 'PT Sans Narrow', sans-serif;
  //font-family: 'PT Sans', sans-serif;
  background-color: #27496D ;
  //width: 100%;
  //position: fixed;
  overflow-y: auto;
  z-index: 99; /*con esto el header fijo queda enfrente de lo contenido*/
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  background: #27496D;
  padding: 5px 20px;
  width: 100%;
}
.logo  {
  display: flex;
  align-items: center; 
  justify-content: center;
}
ul {
  list-style-type: none;
  & img {
    width: 64px;
    height: 52px;
  }
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 16px;
}
.button.secondary {
  border-bottom: 1px #27496D solid;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /////
  align-items: center;
}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Tablet menu */
@media all and (min-width: 600px) {
  .nav {
    width: 100%;
  }
  .menu {
      justify-content: center;
  }
  .logo {
      flex: 1;
  }
  .toggle {
      flex: 1;
      text-align: right;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
  } 
}

/* Desktop menu */
@media all and (min-width: 900px) {
  
  .Header-main{
    width: 100%;
    position: fixed;
  }

  nav {
    width: 60%;
    
  } 

  .Header-main {
    display: flex;
    justify-content: space-around;
  }

  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
      
      display: flex;
      align-items: center; 
      justify-content: flex-start;
  }

  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
  // ul img {
  //   width: 99px;
  //   height: 80px;
  // }
}

/* Iphone SE */
@media all and (max-width: 320) {

  nav {
    width: 100%;
  }

   ul img {
    width: 45px;
    height: 36px;
  }
}