
// body {
//     //overflow: hidden;
// }

.layout-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    font-family: 'PT Sans Narrow', sans-serif;
    color: #27496D;
    & h1 {
        font-size: calc(19px + 1vw);
        margin-top: 5px;
        margin-bottom: 5px;
    }

    & p {
        font-size: calc(18px + 1vw);
    }    

}

.contenido-container__grid-colums-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    overflow: hidden;
}

// .Header-main {
//     grid-area: header;
// }

// .grid-contenido {
//     grid-area: main;
// }

