
// body {
//     //overflow: hidden;
// }

.layout-container {
    // display: grid;
    // grid-template-areas: "header"
    //                      "main";
    // grid-template-columns: auto;
    // grid-template-rows: 1fr;

    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.contenido-container__grid-colums-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    overflow: hidden;
}

// .Header-main {
//     grid-area: header;
// }

// .grid-contenido {
//     grid-area: main;
// }

