.servicios_section {
    text-align: left;
    //background-color: #F0F0F0;
    border: 1px;
    font-size: 18px;
    //color: white;
    //text-shadow: black 0.1em 0.1em 0.2em;
    padding: 20px 0px 20px;
  }

.servicios_section h1{
    text-align: center !important;
    margin-bottom: 25px;
}
  
.servicios-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
    max-width: 1024px;
    margin: auto !important;
    justify-items: stretch;
}

.servicios-container li {
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    font-size: 25px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
    padding: 0px 15px;
    border-right: solid 4px #22D8FF;
}

.servicios-container img {
    // width: 64.6px;
    // height: 64.7px;
    width: auto;
    height: 129.4px;
    margin-right: 10px;
    vertical-align: middle;
}


@media screen and (min-width: 768px)  {

    .servicios_section {
        text-align: left;
        //background-color: #F0F0F0;
        border: 1px;
        font-size: 18px;
        //color: white;
        //text-shadow: black 0.1em 0.1em 0.2em;
        padding: 20px 0px 20px;
      }
    
    .servicios_section h1{
        text-align: center !important;
        margin-bottom: 25px;
    }
      
    .servicios-container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 25px;
        max-width: 1024px;
        margin: auto !important;
        justify-items: stretch;
    }
    
    .servicios-container li {
        background-color: white;
        border-radius: 0px 10px 10px 0px;
        font-size: 25px;
        box-shadow: 0 1px 8px 0 rgba(0,0,0,0.08);
        padding: 0px 15px;
        border-right: solid 4px #22D8FF;
    }
    
    .servicios-container img {
        // width: 64.6px;
        // height: 64.7px;
        width: auto;
        height: 129.4px;
        margin-right: 10px;
        vertical-align: middle;
    }
    

}